.topContainer {
	position: relative;
	overflow:hidden;
	height: 100vh;
	/* border:blueviolet solid 3px; */
}

@media screen and (min-width: 768px){
	.topContainer{
		/* height:  */
	}
}

*{
	margin: 0;
	padding: 0;
}

svg{
	width: 4800px;
	height: 300px;
}

.layer1{
	height: 50%;
	background-repeat: repeat-x;
	background-size: 1285px auto;
	background-position: left top;
	background-image: url(./image/image4.png);
	animation: img-slider 10s linear infinite;
}
@keyframes img-slider {
	to { background-position: 1285px 0; }
}

.layer1 svg{
	fill:#9df914;
	will-change: animation;
	animation:wave linear 4s infinite;
}

/* 右方向アニメーション */
@keyframes wave {
	from { transform:translate(-1600px); }
	to { transform:translate(0); }
}

.layer2{
	height: 50%;
	position: absolute;
	margin-top: -200px;
}

.layer2 svg{
	fill: white;
}

.layer2 div{
	position: absolute;
	top: 100px;
	left: 100px;
}

.layer3{
    background-image: url(./image/image4.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    will-change: animation;
    animation: img-slider2 15s linear infinite;
    position: absolute;
    clip-path: url(#midWave);
}

@keyframes img-slider2{
	from { background-position: 0 0; }
    to { background-position: -1285px 0; }
}

#midWave {
    will-change: animation;
    animation:midWave 5s linear infinite;
}

@keyframes midWave {
    from { transform:translate(0); }
    to { transform:translate(-1600px); }
}

.layer3 svg path:nth-child(2) {
	fill:#fff;
	will-change: animation;
	animation:wave2 linear 3s infinite;
}

@keyframes wave2 {
	from { transform:translate(0); }
	to { transform:translate(-800px); }
}